
{% comment %} 
                                                                Main Button Snippet
                                                                Accepts: 
                                                                - link: URL for the button (required) 
                                                                - text: Button text (required) 
                                                                - sub-text: Button sub-text (required) 
                                                                - outline_color: Color of the button outline (optional, default: 'grey') 
{% endcomment %}

{{ 'button-hero-snippet.css' | asset_url | stylesheet_tag }}

{% assign outline_color = outline_color | default: 'grey' %}


<div class="custom-button-hero-wrapper">
  <a href="{{ link }}" class="custom-button-hero custom-button-hero--{{ outline_color }}">
    <div class="hero-button-text-wrapper">
      <p class="custom-button-hero__text">{{ text }}</p>
      <p class="custom-button-hero__sub-text">{{ sub-text }}</p>
    </div>

      <span class="custom-button-hero__separator--{{ outline_color }}"></span>
      {% if outline_color == "grey" %}
        <span class="custom-button-hero__arrow">{% render 'icon-arrow-right-dark' %}</span>
      {% else %}
        <span class="custom-button-hero__arrow">{% render 'icon-arrow-right-white' %}</span>
      {% endif %}
   
   

  </a>
</div>